<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>To Do List</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding  #listScroll>


    <!--<ion-label *ngIf="showSpinner">Loading.....</ion-label>-->
    <img src="./../../assets/icon/favicon.ico" *ngIf="showSpinner">
    <ion-list>
        <ion-item-sliding >



        </ion-item-sliding>

    </ion-list>

    <ion-card *ngFor="let item of toDoListItems " (dblclick)="goDetail(item)">
        <ion-item>
            <ion-col col-1>

                {{ item.id }}
            </ion-col>
            <ion-col col-9="">
                {{ item.content }}


            </ion-col>
            <ion-col col-1>

                <button float-right ion-button="" color="danger" icon-only="" (click)="removeItem(item.id)">
                    <ion-icon name="trash"></ion-icon>

                </button>
            </ion-col>

        </ion-item>


    </ion-card>


</ion-content>
<ion-footer>
    <ion-row>
        <ion-col col-10>

            <ion-item>
                <ion-input #myInput type="text" [(ngModel)]="content" placeholder="Add item here"
                           (keypress)="pressEnter($event.keyCode)"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col>
            <button ion-button="" (click)="addItem()" color="yellow">Add Item</button>
            <!--<button ion-button="" (click)="goWrite()">글쓰기</button>-->
        </ion-col>

    </ion-row>

</ion-footer>




