<ion-header>
    <ion-navbar color="yellow">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-row>


            <ion-title>Very Simple Note</ion-title>

            <ion-buttons end="" class="bar-buttons bar-buttons-md">
                <button ion-button icon-only (click)="presentPopover($event)">
                    <ion-icon name="more"></ion-icon>
                    <div class="button-effect"></div>
                </button>
            </ion-buttons>

        </ion-row>

    </ion-navbar>

</ion-header>
<ion-content padding #listScroll>

    <!--<ion-label *ngIf="showSpinner">Loading.....</ion-label>-->
    <img src="./../../assets/icon/favicon.ico" *ngIf="showSpinner">
    <ion-list>
        <ion-item-sliding>


        </ion-item-sliding>

    </ion-list>


    <ion-list>

        <!--<button ion-button="" (click)="pressed2()">pressed2</button>-->
        <ion-item-sliding *ngFor="let item of toDoListItems ">


            <!--<button ion-button ion-long-press [interval]="400" (onPressStart)="pressed()" (onPressing)="active()" (onPressEnd)="released()"></button>-->
            <ion-item text-wrap="" (dblclick)="goDetail(item)">


                <ion-label>

                        {{item.index }}  {{ item.key }} &nbsp;

                    {{ item.content }}
                </ion-label>
                <!--<ion-checkbox id="item.id" [(ngModel)]="item.selected"
                              (ionChange)="getValue(item.id, item.selected)"></ion-checkbox>-->
            </ion-item>

            <ion-item-options side="right">

                <ion-buttons end="" class="bar-buttons bar-buttons-md">
                    <button ion-button="" icon-only="" color="danger" (click)="removeItem(item.key)">
                        <ion-icon name="trash"></ion-icon>
                        <div class="button-effect"></div>

                    </button>
                    <button ion-button icon-only="" color="green" (click)="goDetail(item)">
                        <ion-icon name="cut"></ion-icon>
                        <div class="button-effect"></div>
                    </button>
                </ion-buttons>
            </ion-item-options>
        </ion-item-sliding>

    </ion-list>


</ion-content>
<ion-footer>
    <ion-row>


        <ion-item>
            <ion-input #myInput type="text" [(ngModel)]="content"
                       placeholder="Add item here. And Press Enter When complete"
                       (keypress)="pressEnter($event.keyCode)"></ion-input>
        </ion-item>

        <!-- <ion-col>
		 <button ion-button="" (click)="addItem()" color="yellow">Add Item</button>
		 &lt;!&ndash;<button ion-button="" (click)="goWrite()">글쓰기</button>&ndash;&gt;
	   </ion-col>-->

    </ion-row>

</ion-footer>




